In [43]:
class Mobil:
  jumlah_mobil = 0
  def __init__(self, merk = None, warna = None, harga=None, tahun=None):
    self.merk = merk
    self.warna = warna
    self.harga = harga
    self.tahun = tahun
    Mobil.jumlah_mobil += 1

  ## Instance Method
  def info(self):
    return f"{self.merk} berwarna {self.warna}, dengan harga {self.harga}"

  def cek_usia_mobil(self):
    if 2024 - self.tahun > 5:
      return "Mobil tua"
    else:
      return "Mobil baru"

  ## Class Method
  @classmethod
  def get_jumlah_mobil(cls):
    kali2 = cls.jumlah_mobil * 2
    return kali2

In [44]:
mobil1 = Mobil("Toyota","Hitam")
mobil2 = Mobil("Honda","Putih","100Jt")

print(mobil1.info())
print(mobil2.info())

Toyota berwarna Hitam, dengan harga None
Honda berwarna Putih, dengan harga 100Jt

In [38]:
class Hewan:
  def __init__(self,nama,rass):
    self.nama = nama
    self.rass = rass

  def bersuara(self):
    return "Bunyi umum hewan"

  def info(self):
    return f"Nama hewan : {self.nama}, rass : {self.rass}"

class Kucing(Hewan):
  def __init__(self, nama, rass, warna):
    super().__init__(nama,rass)
    self.warna = warna

class Kambing(Hewan):
  def __init__(self, nama, rass, makanan):
    super().__init__(nama,rass)
    self.makanan = makanan


kucing = Kucing("Kitty","Persian","Putih")
#anjing = Anjing("Dogy")

##Ambil atribute dari kelas induk
print("Kucing saya warnanya adalah : ", kucing.warna)
print("Kucing info :", kucing.info())
#print(anjing.nama)
print(kucing.bersuara())

Kucing saya warnanya adalah :  Putih
Kucing info : Nama hewan : Kitty, rass : Persian
Bunyi umum hewan

In [40]:
# Kelas Induk
class Hewan:
    def __init__(self, nama, alamat):
        self.nama = nama
        self.alamat = alamat

    def bersuara(self):
        return "Bunyi umum hewan."

# Kelas Turunan
class Kucing(Hewan):
    def bersuara(self):
        return "Meow!"

class Anjing(Hewan):
    def bersuara(self):
        return "Woof!"

# Membuat objek dari kelas turunan
kucing = Kucing("Kitty","jakarta")
#anjing = Anjing("Buddy")

# Memanggil metode dari kelas induk
print(kucing.nama)  # Output: Kitty
print(anjing.nama)  # Output: Buddy

# Memanggil metode dari kelas turunan
print(kucing.bersuara())  # Output: Meow!
print(anjing.bersuara())  # Output: Woof!

Kitty
Dogy
Meow!
Woof!!

In [41]:
class Kalkulator:
  def jumlah(self,a=None,b=None,c=None):
    if a is not None and b is not None and c is not None:
      return a + b + c
    elif a is not None and b is not None:
      return a + b
    elif a is not None:
      return a
    else:
      return 0

In [42]:
kalkulator = Kalkulator()

hasil1 = kalkulator.jumlah(1)
hasil2 = kalkulator.jumlah(1,2)
hasil3 = kalkulator.jumlah(1,2,3)

print(hasil1)
print(hasil2)
print(hasil3)

1
3
6

In [49]:
#Tanpa OOP

nama_mahasiswa = "John Doe"
nim_mahasiswa = "12345"
nilai_tugas = 85
nilai_ujian = 90

nama_mahasiswa = "John Kim"
nim_mahasiswa = "12346"
nilai_tugas = 85
nilai_ujian = 90



def hitung_nilai_akhir(nilai_tugas, nilai_ujian):
  return 0.4 * nilai_tugas + 0.6 * nilai_ujian

def cetak_nilai_mahasiswa(nama, nim, nilai_akhir):
  print(f"Nama:{nama}")
  print(f"Nim:{nim}")
  print(f"Nilai Akhir:{nilai_akhir}")

nilai_akhir_mahasiswa = hitung_nilai_akhir(nilai_tugas, nilai_ujian)
cetak_nilai_mahasiswa (nama_mahasiswa,nim_mahasiswa,nilai_akhir_mahasiswa)

Nama:John Kim
Nim:12346
Nilai Akhir:88.0

In [46]:
## Dengan OOP
class Mahasiswa:
  def __init__(self,nama, nim, nilai_tugas, nilai_ujian):
    self.nama=nama
    self.nim=nim
    self.nilai_tugas=nilai_tugas
    self.nilai_ujian=nilai_ujian

  def hitung_nilai_akhir(self):
    return 0.4 * self.nilai_tugas + 0.6 * self.nilai_ujian

  def cetak_info_mahasiswa(self):
    print(f"Nama: { self.nama}")
    print(f"NIM: { self.nim}")
    print(f"Nilai Akhir : { self.hitung_nilai_akhir()}")

In [47]:
mahasiswa1 = Mahasiswa("John Doe","123456", 85,90)
mahasiswa2 = Mahasiswa("John Kim","123457", 86,80)
mahasiswa3 = Mahasiswa("John Un","123458", 80,70)
mahasiswa4 = Mahasiswa("John Pak","123459", 85,95)

In [48]:
mahasiswa1.hitung_nilai_akhir()
mahasiswa2.hitung_nilai_akhir()

mahasiswa1.cetak_info_mahasiswa()
mahasiswa2.cetak_info_mahasiswa()

Nama: John Doe
NIM: 123456
Nilai Akhir : 88.0
Nama: John Kim
NIM: 123457
Nilai Akhir : 82.4